@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir.otf)
}

@font-face {
    font-family: Slim Joe;
    src: url(../fonts/Slim-Joe.otf)
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}

.inner {
    vertical-align: middle;
    margin: 0;
    position: relative;
    float: left;
}

.nav {
    width: 100%;
    background-color: #2980b9;
    display: table;
    color: #ecf0f1;
}

.navitem {
    display: table-cell;
    font-size: 20px;
    padding: 35px 60px;
    font-family: Slim Joe;
    transition: .3s background;
    cursor: pointer;
}

.navitem:hover {
    background-color: #3498db;
}

.nav-left {
    float: left;
    display: inline-block;
}

.nav-right {
    float: right;
    display: table;
    font-size: 25px;
    padding: 25px;
}

.nav-icon {
    padding: 15px 20px;
    font-size: 25px;
    display: table-cell;
    text-align: center;
    cursor: pointer;
}

#footer {
    padding: 15px 60px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: #2980b9;
    color: #ecf0f1;
    font-family: Slim Joe;
    font-size: 30px;
    text-align: center;
}

#footer img {
    max-height: 100px;
    top: 30px;
    margin-right: 20px;
}

#footer img,
#footer p {
    display: inline-block;
    position: relative;
}

#title-sec {
    background-image: url("../imgs/stars.jpg");
    background-size: cover;
}

#abt-title {
    background-image: url(../imgs/stem-students.jpg);
    background-size: cover;
    background-position: center;
}

#stem-title {
    background-image: url(../imgs/computer.jpg);
    background-size: cover;
    background-position: 0 15%;
}

.section {
    width: 100%;
    max-height: calc(100% - 90px);
    font-size: 30px;
}

.txt {
    width: calc(100% - 50px);
    margin-left: 50px;
}

#title {
    max-width: 70%;
    padding: 5% 15%;
}

.ctr {
    height: 100%;
}

.cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 10, 0.55);
}

.info {
    padding: 75px 100px;
    font-size: 20px;
    font-family: Open Sans;
    background-color: #ecf0f1;
}

.block {
    width: 20px;
    background-color: #2980b9;
    float: left;
}

#home-txt span {
    font-size: 30px;
    font-family: Slim Joe;
}

.slide,
.title {
    width: 100%;
    background-size: cover;
    text-align: center;
}

.title {
    height: 700px;
    font-size: 60px;
}

.slide {
    height: 1100px;
}

.slide,
.title {
    font-family: Slim Joe;
    color: #ecf0f1;
}

#tsa-picture {
    background-image: url("../imgs/nationals.jpg");
}

#school-picture {
    background-image: url("../imgs/colorado.jpg");
}

.slide .cover {
    padding: 520px 100px;
    box-sizing: border-box;
}

.title .cover {
    padding: 250px 100px;
    box-sizing: border-box;
}

.slide .cover p {
    font-size: 30px;
}

#abt1 {
    background-image: url("../imgs/mtns.jpg");
}

#abt2 {
    background-image: url("../imgs/catapult.jpg");
}

#abt3 {
    background-image: url("../imgs/conference.jpg");
}

#categories {
    padding: 0 40px 30px 40px;
    background-color: #ecf0f1;
}

.category {
    padding: 10px 40px;
    font-family: Source Sans Pro;
    color: #ecf0f1;
    background-color: #2980b9;
    margin-bottom: 10px;
}

.category h1 {
    cursor: pointer;
    font-family: Slim Joe;
    font-size: 30px;
}

.category p {
    font-size: 18px;
}

#contact-h1 {
    padding: 30px 50px;
    background-color: #ecf0f1;
    margin: 0;
    font-family: Slim Joe;
}

@media (max-width: 50em) {
    .nav {
        height: auto;
        padding: 10px 0;
    }
    .nav span {
        display: block;
        padding: 10px 0;
    }
    .txt {
        font-size: 20px;
    }
    #content {
        width: 90%;
        margin: 25px auto 50px;
    }
    img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}